<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Tarefas Cadastradas</title>
</head>
<body>

<h1>Tarefas cadastradas</h1>
<hr />

<div class="container">
    <div id="listaDeTarefas">
        <table>
            <thead>
                <tr>
                    <th>Título</th>
                    <th>Descrição</th>
                    <th>Status</th>
                    <th>Data de Criação</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="tarefa : ${listaDeTarefas}">
                    <td><span th:text="${tarefa.getTituloTarefa()}"></span></td>
                    <td><span th:text="${tarefa.getDscTarefa()}"></span></td>
                    <td><span th:text="${tarefa.getFlagConclusao()}"></span></td>
                    <td><span th:text="${tarefa.getDataCriacao()}"></span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<hr />

<h1>Cadastrar novas tarefas</h1>
<form action="/salvar", method="post">
    <div class="form-group">
        <label for="titulo">Título</label><input type="text" class="form-control" id="titulo" name="titulo" placeholder="titulo" />
    </div>
    <div class="form-group">
        <label for="descricao">Descrição</label><input type="text" class="form-control" id="descricao" name="descricao" placeholder="descricao" />
    </div>

    <button type="submit" class="btn btn-success">Nova Tarefa</button>
</form>

</body>
</html>