<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Tarefas Cadastradas</title>

    <!-- Icons font CSS-->
    <link href="vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Vendor CSS-->
    <link href="vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="css/main.css" rel="stylesheet" media="all">
</head>
<body>

<div class="wrapper wrapper--w480">
    <div class="card card-4">
        <div class="card-body">
            <h2 class="title">Cadastrar novas tarefas</h2>
            <form action="/salvar", method="post">
                <div class="row row-space">
                    <div class="col-2">
                        <div class="input-group">
                            <label class="label">Título</label>
                            <input class="input--style-4" type="text" name="titulo" placeholder="Nova Atividade">
                        </div>
                    </div>
                </div>
                <div class="row row-space">
                    <div class="col-2">
                        <div class="input-group">
                            <label class="label">Descrição</label>
                            <textarea class="input--style-4" id="descricao" name="descricao" rows="5" cols="33">Descrição da atividade ...</textarea>
                        </div>
                    </div>
                </div>
                <div class="p-t-15">
                    <button class="btn btn--radius-2 btn--blue" type="submit">Nova Tarefa</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="wrapper wrapper--w480">
    <div class="card card-4">
        <div class="card-body">
            <h2 class="title">Tarefas cadastradas</h2>

            <div class="row row-space">
                <div class="col-2">
                    <div class="input-group" id="listaDeTarefas">
                        <table class="table-condensed">
                            <thead>
                            <tr>
                                <th>Título</th>
                                <th>Descrição</th>
                                <th>Status</th>
                                <th>Data de Criação</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="tarefa : ${listaDeTarefas}">
                                <td><span th:text="${tarefa.getTituloTarefa()}"></span></td>
                                <td><span th:text="${tarefa.getDscTarefa()}"></span></td>
                                <td><span th:text="${tarefa.getFlagConclusao()}"></span></td>
                                <td><span th:text="${tarefa.getDataCriacao()}"></span></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

    <!-- Jquery JS-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <!-- Vendor JS-->
    <script src="vendor/select2/select2.min.js"></script>
    <script src="vendor/datepicker/moment.min.js"></script>
    <script src="vendor/datepicker/daterangepicker.js"></script>

    <!-- Main JS-->
    <script src="js/global.js"></script>
</body>
</html>